<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Health Check Suite">
    <test name="API Health Check Tests">
        <classes>
            <class name="com.healthmonitor.api.HealthCheckerTest"/>
        </classes>
    </test>
</suite> 